html {
	height: 100%;
	width: 100%;
}
#styleHome{
	display: inline-block;
	text-align: center;
	margin: 0 auto; 
}
#styleHome .thumbnail {
	border: none;
	margin: 25px;
}

#styleHome div img {
	max-height: 125px;
	max-width: 125px;
	
	
}

.form-inline {
	padding: 75px 0px 10px 0px;
}

.search_map {
	padding-top: 25px;
	border-top: 1px grey solid;
}

.searchresult div {
	margin: 10px;
	cursor: pointer;
}

#createUserModal .modal-content {
	width: 450px;
}

#createUserModal .modal-dialog {
	width: 450px;
}

small {
	color: red;
	margin-left: 12px;
}

#mainhome .form-inline {
	margin-top: 10%
}

#mainhome .glyphicon-play-circle {
	color: #9ecaed;
}

#ecompany {
	width: 325px;
	height: 47px;
	box-shadow: 0 0 10px #9ecaed;
}

#topNavBar {
	margin-bottom: 0px;
}

footer p {
	margin: 15px 0px
}

footer p a {
	margin: 0px 10px;
	color: #ebebeb;
	text-decoration: none;
}

footer p a:HOVER {
	color: #6abcf9;
	text-decoration: none;
}

.mainFooter {
	background-color: #333;
	color: #9d9d9d
}

.brnd img{
	display: inline-block;
	height: 30px
}